<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="shortcut icon" href="#">
  <title>Glenfield Notice Board</title>
  <style>
    body,
    html {
      height: 100%;
      margin: 0;
      position: relative;
      overflow: hidden;
      background-color: black;
    }

    #slideshow {
      position: relative;
      height: 768px;
      width: 1024px;
    }

    .slideshow-image,
    .black-slide {
      position: absolute;
      width: 100%;
      height: 100%;
      display: none;
    }

    .black-slide {
      background-color: black;
    }
  </style>
</head>

<body>
  <div id="slideshow">
    <% images.forEach((image, index) => { %>
      <img class="slideshow-image" src="<%= image %>" alt="Image"
        <%= index === 0 ? 'style="display: block;"' : 'style="display: none;"' %>>
    <% }); %>
    <div class="black-slide"></div>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      let currentImageIndex = 0;
      const images = document.querySelectorAll('.slideshow-image');
      const blackSlide = document.querySelector('.black-slide');
      let isShowingBlackSlide = false;
  
      function changeSlide() {
        if (isShowingBlackSlide) {
          // Hide black slide
          blackSlide.style.display = 'none';
          // Increment the image index or reset if at the end
          currentImageIndex = (currentImageIndex + 1) % images.length;
          // Check if it's time to reload the page (after the last image)
          if (currentImageIndex === 0) {
            location.reload();
            return;
          }
          // Show the next image
          images[currentImageIndex].style.display = 'block';
          setTimeout(changeSlide, 45000); // Display image for 45 seconds
        } else {
          // Hide the current image
          images[currentImageIndex].style.display = 'none';
          // Show black slide
          blackSlide.style.display = 'block';
          setTimeout(changeSlide, 1000); // Show black slide for 1 second
        }
        isShowingBlackSlide = !isShowingBlackSlide; // Toggle the slide state
      }
  
      // Initially display the first image for 45 seconds
      images[currentImageIndex].style.display = 'block'; // Ensure the first image is visible
      setTimeout(changeSlide, 45000);
    });
  </script>
  
  
  
  </body>
</html>