<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="shortcut icon" href="#">
  <title>Gallery View 3</title>
  <style>
    body, html {
      height: 100%;
      margin: 0;
      position: relative;
      overflow: hidden;
      background-color: black;
    }
    #slideshow {
      position: relative;
      height: 768px;
      width: 1024px;
    }
    .slideshow-image {
      position: absolute;
      width: 100%;
      height: 100%;
      display: none; /* Initialize all images as hidden */
    }
  </style>
</head>
<body>
  <div id="slideshow"></div>
  
  <script>
    const slideshowElement = document.getElementById('slideshow');

    function updateSlideshow(images) {
      slideshowElement.innerHTML = ''; // Clear existing images
      images.forEach((image, index) => {
        const imgElement = document.createElement('img');
        imgElement.src = `/public/uploads/${image}`;
        imgElement.className = 'slideshow-image';
        imgElement.style.display = index === 0 ? 'block' : 'none'; // Show first image only
        slideshowElement.appendChild(imgElement);
      });
    }

    let currentImageIndex = 0;
    let images = [];

    setInterval(() => {
      // Fetch new images every 60 seconds
      fetch('/images')
        .then(response => response.json())
        .then(data => {
          images = data;
          updateSlideshow(images);
        });
      
      // Slideshow logic
      if (images.length > 0) {
        const imageElements = document.querySelectorAll('.slideshow-image');
        imageElements[currentImageIndex].style.display = 'none';
        currentImageIndex = (currentImageIndex + 1) % images.length;
        imageElements[currentImageIndex].style.display = 'block';
      }
    }, 20000); // Fetch new images and change image every 20 seconds
  </script>
</body>
</html>
